.bottom-move-holder {
    -fx-pref-width: 700px;
    -fx-pref-height: 150px;
    -fx-background-color: #adff00;
    -fx-effect: dropshadow(three-pass-box, #000, 10, 0, 0, 0);
}

.top-battle-scene-holder {
    -fx-pref-width: 700px;
    -fx-pref-height: 350px;
}